<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>CHADAR TREK</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
        <script src="main.js"></script>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

        <style>
            .center{
                padding-left: 20%;
                padding-right: 20%;
                text-align: center;
               
            }
        </style>
    </head>
    <body>
        
        <div class="container center">
                <h1>Chadar - The frozen River Trek</h1>
                <div class="row">
                    <div class="col-md-6">
                        <img src="images/chadar.jpg" class="img-responsive">
                    </div>
                    <div class="col-md-6">
                        <p class="text-justify">Location - Zangskar River, Ladakh</p>
                        <p class="text-justify">Altitude - 3850(in metres)</p>
                        <p class="text-justify">Trek duration - 21 days</p>
                        <p class="text-justify">Best Season to visit - Mid Jan to Feb end</p>
                        <p class="text-justify">Difficulty Level - Difficult</p>
                        <p class="text-justify">Seats left - 25</p>
                        <p class="text-justify">
                            The Chadar Trek or the Zanskar Gorge is a winter trail in the Zanskar region of Ladakh, 
                            in the Indian state of Jammu and Kashmir. Traditionally the only means of travel in the area during 
                            the harsh winter months, the trail has become popular with international adventure tourists.
                        </p>
                        <p class="text-justify">
                                Its walls are near vertical cliffs up to 600 m high and the Zanskar River (a tributary of the Indus) 
                                is only 5 metres (16 ft) in places.
                                The overall distance is approximately 105 kilometres (65 mi) – an average trekker 
                                walks 16 kilometres (10 mi) per day.
                                
                                The best time to do the Chadar trek is January to February, when the temperature 
                                during the winters drops sometimes to -30 to -35 degrees.
                                
                                Chadar trek starts from Chilling however with time the organisers tend to drive 
                                ahead to about 1 km away from the first camp at Tilad Sumdo (10,390 ft ). 
                                Over the next days the trek moves to higher camps till Nerak (11,150 ft). 
                                This is the return point of the famous trek. There are other variations of the trek 
                                which go till Lingshed while a bigger version will take you to Padum over almost 14 days.
                        </p>
                    </div>
                </div>
        </div>
    </body>
</html>