<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <style>
        .show-border {
            border: 0px solid white;
        }
        .margin {
            margin:2px 2px;
        }
        .padding-left {
            padding-left: 10%;
            padding-right: 10%;
            padding-top: 1%;
        }
        .radius{
            border-radius: 15px;
        }
        .height{
            height: 300px;
            width: 300px;
        }
    </style>
</head>
<body>
    <div class="container padding-left">
        <div class="row margin">
            <div class="col-md-4 show-border ">
                    <div id="mycarousel" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <a href="http://localhost:1234/chadar">
                                    <div class="item active">
                                        <img src="images/chadar.jpg" alt="" class="img-responsive height">
                                        <div class="carousel-caption">
                                            <div>
                                                <h4>CHADAR TREK</h4>
                                                <h6>FROM</h6>
                                                <h4>FROM 13900</h4>
                                            </div>
                                            <button class="btn btn-default btn-rounded radius"><font color="orange">LEARN MORE!</font></button>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
            </div>
            <div class="col-md-4 show-border "><div id="mycarousel" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <a href="#">
                                    <div class="item active">
                                        <img src="images/markha.jpg" alt="" class="img-responsive height">
                                        <div class="carousel-caption">
                                            <div>
                                                <h4>MARKHA TREK</h4>
                                                <h6>FROM</h6>
                                                <h4>FROM 14500</h4>
                                            </div>
                                            <button class="btn btn-default btn-rounded radius"><font color="orange">LEARN MORE!</font></button>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div></div>
            <div class="col-md-4 show-border "><div id="mycarousel" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <a href="#">
                                    <div class="item active">
                                        <img src="images/kangri.jpg" alt="" class="img-responsive height">
                                        <div class="carousel-caption">
                                            <div>
                                                <h4>KANGRI TREK</h4>
                                                <h6>FROM</h6>
                                                <h4>FROM 17900</h4>
                                            </div>
                                            <button class="btn btn-default btn-rounded radius"><font color="orange">LEARN MORE!</font></button>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div></div>
        </div>
        <div class="row margin">
            <div class="col-md-4 show-border "><div id="mycarousel" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <a href="#">
                                    <div class="item active">
                                        <img src="images/lamayuru.jpg" alt="" class="img-responsive height">
                                        <div class="carousel-caption">
                                            <div>
                                                <h4>LAMAYURU TREK</h4>
                                                <h6>FROM</h6>
                                                <h4>FROM 11900</h4>
                                            </div>
                                            <button class="btn btn-default btn-rounded radius"><font color="orange">LEARN MORE!</font></button>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div></div>
            <div class="col-md-4 show-border "><div id="mycarousel" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <a href="#">
                                    <div class="item active">
                                        <img src="images/mystery.jpg" alt="" class="img-responsive height">
                                        <div class="carousel-caption">
                                            <div>
                                                <h4>MYSTERY TREK</h4>
                                                <h6>FROM</h6>
                                                <h4>FROM 13500</h4>
                                            </div>
                                            <button class="btn btn-default btn-rounded radius"><font color="orange">LEARN MORE!</font></button>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div></div>
            <div class="col-md-4 show-border "><div id="mycarousel" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <a href="#">
                                    <div class="item active">
                                        <img src="images/flower.jpg" alt="" class="img-responsive height">
                                        <div class="carousel-caption">
                                            <div>
                                                <h4>VALLEY OF FLOWERS</h4>
                                                <h6>FROM</h6>
                                                <h4>FROM 13900</h4>
                                            </div>
                                            <button class="btn btn-default btn-rounded radius"><font color="orange">LEARN MORE!</font></button>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div></div>
        </div>
        <div class="row margin">
            <div class="col-md-4 show-border "><div id="mycarousel" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <a href="#">
                                    <div class="item active">
                                        <img src="images/gangotri_dark.jpg" alt="" class="img-responsive height">
                                        <div class="carousel-caption">
                                            <div>
                                                <h4>GANGOTRI</h4>
                                                <h6>FROM</h6>
                                                <h4>FROM 19900</h4>
                                            </div>
                                            <button class="btn btn-default btn-rounded radius"><font color="orange">LEARN MORE!</font></button>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div></div>
            <div class="col-md-4 show-border "><div id="mycarousel" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <a href="#">
                                    <div class="item active">
                                        <img src="images/gomukh_dark.jpg" alt="" class="img-responsive height">
                                        <div class="carousel-caption">
                                            <div>
                                                <h4>GOMUKH</h4>
                                                <h6>FROM</h6>
                                                <h4>FROM 13975</h4>
                                            </div>
                                            <button class="btn btn-default btn-rounded radius"><font color="orange">LEARN MORE!</font></button>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div></div>
            <div class="col-md-4 show-border "><div id="mycarousel" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <a href="#">
                                    <div class="item active">
                                        <img src="images/chadar_dark.jpg" alt="" class="img-responsive height">
                                        <div class="carousel-caption">
                                            <div>
                                                <h4>CHADAR TREK</h4>
                                                <h6>FROM</h6>
                                                <h4>FROM 13900</h4>
                                            </div>
                                            <button class="btn btn-default btn-rounded radius"><font color="orange">LEARN MORE!</font></button>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div></div>
        </div>
    </div>
</body>
</html>